@use './mixin' as m;
@use './variables' as v;

.toast {
  // visibility: hidden;
  position: fixed;
  bottom: -6rem;
  left: 50%;
  width: calc(100% - 4rem);
  padding: 2rem;
  background-color: rgba(v.$black, 0.8);
  border-radius: 1rem;
  box-sizing: border-box;
  @include m.font($color: v.$white, $font-size: 1.4rem);
  transform: translateX(-50%);
  transition: bottom 0.3s;
  &.is-show {
    bottom: 6rem;
    transition: bottom 0.3s;
  }
}