
<h1 class="title">
  <a href="/" title="Home으로 이동">JS</a>
</h1>
<nav>
  <button id="navAccordion" type="button" class="btn btn-nav" aria-label="Accordion 페이지 이동" aria-selected="false" data-url="./accordion.html">Accordion</button>
  <button id="navTab" type="button" class="btn btn-nav" aria-label="Tab 페이지 이동" aria-selected="false" data-url="./tab.html">Tab</button>
  <button id="navModal" type="button" class="btn btn-nav" aria-label="Modal 페이지 이동" aria-selected="false" data-url="./modal.html">Modal</button>
  <button id="navForm" type="button" class="btn btn-nav" aria-label="Form 페이지 이동" aria-selected="false" data-url="./form.html">Form</button>
  <button id="navTooltip" type="button" class="btn btn-nav" aria-label="Tooltip 페이지 이동" aria-selected="false" data-url="./tooltip.html">Tooltip</button>
  <button id="navToast" type="button" class="btn btn-nav" aria-label="Toast 페이지 이동" aria-selected="false" data-url="./toast.html">Toast</button>
</nav>